<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form>
		<input type="text" name="guess">
		<input type="submit" name="Guess!">
	</form>
	<!-- <h1>"The SECRET NUMBER is <%= random_int %> where #{random_int} is the secret number."</h1>
	 -->
	<%= message %>

</body>
</html>
