<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			margin-top: 50%;
			margin-left: 50%;
			<% case difference
				when 6...100 %>
					background: #ff0000;
				<% when 1..5 %>
					background: #ff6666;
				<% when 0 %>
					
						background: linear-gradient(275deg, #ff1400, #e7ff00, #007aff, #ff00d8, #00f6ff);
						background-size: 1000% 1000%;
						-webkit-animation: AnimationName 10s ease infinite;
						-moz-animation: AnimationName 10s ease infinite;
						-o-animation: AnimationName 10s ease infinite;
						animation: AnimationName 10s ease infinite;
			<% end %>
			}

			@-webkit-keyframes AnimationName {
			    0%{background-position:17% 0%}
			    50%{background-position:84% 100%}
			    100%{background-position:17% 0%}
			}
			@-moz-keyframes AnimationName {
			    0%{background-position:17% 0%}
			    50%{background-position:84% 100%}
			    100%{background-position:17% 0%}
			}
			@-o-keyframes AnimationName {
			    0%{background-position:17% 0%}
			    50%{background-position:84% 100%}
			    100%{background-position:17% 0%}
			}
			@keyframes AnimationName {
			    0%{background-position:17% 0%}
			    50%{background-position:84% 100%}
			    100%{background-position:17% 0%}
			}
	</style>
	<title></title>
</head>
<body>
	<form>
		<input type="text" name="guess">
		<input type="submit" name="Guess!">
	</form>
	<!-- <h1>"The SECRET NUMBER is <%= random_int %> where #{random_int} is the secret number."</h1>
	 -->
	
	<%= message %>

</body>
</html>
